<!--model Netpress.Controllers.HomeController-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 25px 0px 25px 0px; height:400px; width:100%; text-align:center; color:#fff; background-color:#000; opacity:0.3; border-radius:190px;">
	<p style="font-size:23px; font-family:Arial;">time</p>
</div>