#headerName
{
	font-size:25px; 
	text-align:center;
	color:#fff; 
	margin-bottom:-20px;
}

#followMessage
{
	opacity:.7;
	transition:all 0.2s ease-in-out;
}

#followMessage:hover
{
	opacity:1;
}

#repoMessage
{
	opacity:.7;
	transition:all 0.2s ease-in-out;
}

#repoMessage:hover
{
	opacity:1;
}

#devMessage
{
	opacity:.7;
	transition:all 0.2s ease-in-out;
}

#devMessage:hover
{
	opacity:1;
}

#disc-panel
{
	opacity:0.65;
	transition:all 0.4s ease-in-out;
}

#disc-panel:hover
{
	left:0px;
	opacity:1;
}

#logButton
{
	background:#008cba;
	padding:3px 16px 7px 16px;
	font-size:19px;
	font-family:"opensans_light";
	color:#fff;
	font-weight:bold;
	margin-top:10px !important;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#logButton:hover,  #logButton:focus
{
	background:#fff;
	color:#008cba;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

.borderless
{
	border:none;
}

/* Post Styles */
/*---------------------*/

#pWrapper .row
{
	opacity:0.7;
	transition:all 0.4s ease-in-out;
}

#pWrapper .row:hover
{
	opacity:1;
}